body {
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  text-align: center;
  background-color: #fcfcfc;
}

*  {
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
}

#navigation {
      display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0 3px rgb(0 0 0 / 25%);
    background-color: #ff9f00;
    width: 100%;
    height: 50px;
}

.box-header > h4 {
  color: #575e75;
      display: inline-block;
    float: left;
    line-height: 1.1rem;
    font-size: 1.1rem;
        margin: 0;
    border: 0;
    padding: 0;
  font-weight: bold
}

.box {
  text-align: left;
  display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
  width: 58.75rem;
  margin-bottom:20px;
}

.box-header {
  text-align: left;
      display: block;
    clear: both;
    margin: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 10px 10px 0 0;
    background-color: #f2f2f2;
    padding: 8px 20px;
    height: 20px;
    overflow: hidden;
}

.box-content {
  text-align: left;
      display: block;
    clear: both;
    background-color: #fff;
    padding: 8px 20px;
}

#view {
  padding: 0;
    display: inline-block;
    margin-top: 50px;
    padding: 20px 0;
    min-width: 100%;
    min-height: 680px;
}

.nav {
  display: flex;
    margin: 0;
    padding: 0;
    height: 50px;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
      line-height: 1.5em;
    font-size: 1rem;
    font-weight: normal;
}

ul.nav > li {
      display: inline-block;
    position: relative;
    float: left;
    margin: 0;
    height: 100%;
    align-self: flex-start;
}

ul.nav > li > a {
      display: block;
    padding: 13px 15px 4px 15px;
    height: 33px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: .85rem;
    font-weight: bold;
}

ul.nav > li > a:hover {
  background-color: rgba(0,0,0,.1);
}

.logo a {
      display: block;
    transition: .15s ease all;
    margin: 0 6px 0 0;
    border: 0;
    background-image: url(https://scratch.mit.edu/images/logo_sm.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95%;
    width: 81px;
    height: 50px;
}

.logo {
  display: none !important;
}

p {
      display: block;
    margin: 0;
    padding: 0;
    line-height: normal;
    color: #575e75;
}

ul.nav li.right {
  float: right;
    margin-left: auto;
    align-self: flex-end;
}

textarea {
      line-height: 1.5rem;
    transition: all .2s ease;
    border: 2px dashed #ff9f0025;
    border-radius: 8px;
    background-color: #fafafa;
    padding: 0.75rem 1rem;
    width: 100%;
    line-height: 1.75em;
    color: #575e75;
    font-size: 1rem;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
}

textarea:focus {
      transition: all .2s ease;
    outline: none;
    border: 2px solid #ff9f00;
    box-shadow: 0 0 0 4px #ff9f0025;
}

button {
  margin-top: 0;
    border-radius: 0.25rem;
    padding-top: 0.6875rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.6875rem;
    padding-left: 0.875rem;
    height: 2.5rem;
    font-size: .875rem;
    display: inline-block;
    margin: 0.5em 0;
    border: 0;
    border-radius: 0.5rem;
    background-color: #ff9f00;
    cursor: pointer;
    padding: 1em 1.25em;
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
}

.modeSwitch {
  cursor: pointer;
}

.love-post {
  transition: opacity .1s;
  width: 1.75rem;
  position: relative;
  top: 0.4rem;
  cursor: pointer;
}

.love-post[src="https://scratch.mit.edu/svgs/project/love-gray.svg"] {
  opacity: .5;
}

.love-count {
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.favorite-post {
  transition: opacity .1s;
  width: 1.75rem;
  position: relative;
  top: 0.4rem;
  cursor: pointer;
}

.favorite-post[src="https://scratch.mit.edu/svgs/project/fav-gray.svg"] {
  opacity: .5;
}

.favorite-count {
  margin-left: 0.3rem;
  font-size: 1.2rem;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #4d97ff;
}
a {
    cursor: pointer;
    color: #4d97ff;
    font-weight: bold;

}

.timestamp {
  display: block;
  opacity: .5;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.3rem;
  margin-bottom: 1rem;
}

.box-content > h4 > a, .box-content > h4 > text {
  margin-right: 1rem;
}

.featured {
  display: none;
}

img.emoji {
  height: 1rem;
  position: relative;
  top: 0.1rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

.admin-message {
text-align: left;
  margin: 1rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    /*background-color: rgba(77,151,255,.25);*/
  background-color: #ff9f0025;
    padding: 1rem;
width: 57rem;
  display: inline-block;
}

.button.mod-admin-message-dismiss {
      box-shadow: none;
    padding: 0.25rem;
    line-height: .8rem;
      height: 1.75rem;
  float: right;
}

.admin-message-icon {
    vertical-align: middle;
}

.box-content * {
  white-space: pre-wrap;
}